<div class="inputs">
<h3>Edit Employee</h3>
<%= simple_form_for(@employee) do |f| %>
  <%= f.input :employee_name %>
  <%= f.input :cellphone_no %>
  <%= f.association :agency %>
  <%= f.association :dealer_store %>
  <%= f.submit "Update Employee", :class => "mainbutton wfont" %>
  <button class="hiddenbutton lmargin"><%= link_to "Back to employees", employee_path, :class => "blfont" %></button>
<% end %>
</div>