<div class="container">
  <div id="normaltable">
    <!--table searh bar-->
    <form class="search">
            <input type="text" placeholder="Search Keyword">
          <button class="lmargin wfont" type="submit">Search</button>
        </form>
    <table id="salescontent" class="sortable">
      <thead>
        <!--table headers-->
        <tr>
          <th class="wfont">Employee Name</th>
          <th class="wfont">Cellphone Number</th>
          <th class="wfont">Agency Name</th>
          <th class="wfont">Branch Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @employees.each do |employee| %>
        <tr>
          <!--replace contents with ruby variables-->
          <td><%= employee.employee_name %></td>
          <td><%= employee.cellphone_no %></td>
          <td><%= employee.agency.agency_name %></td>
          <td><%= employee.dealer_store.branch_name %></td>
          <td><%= link_to "Edit", edit_employee_path(employee.id)%></td>
          <td><%= link_to "Destroy", employee_path(employee.id), :method => :delete, :data => { :confirm => "Are you sure?", :class => "strong"  } %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>