
<div id="login">
  <div class="lpanel">
    <div class="panel">
      <!--put midea logo-->
      <img src="" alt="">
      <h4>Sign Up</h4>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.email_field :email, autofocus: true, :placeholder => "Email", :required => true %>
          </div>

          <div class="field">
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :required => true %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm Password", :required => true %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", :class => "loginbutton" %>
          </div>
        <% end %>
      <h5><%= render "devise/shared/links" %></h5>
    </div>
  </div>
  <!--change copyright to c accent e in triste-->
  <footer>Copyright 2015 Conception Midea Inc. Powered by Triste. All Rights Reserved.</footer>
</div>
