<h1>ADMIN</h1>
<div id="tabs">
	<%= link_to "Sales", salesadmin_path, :id => "tabs-1" %>
	<%= link_to "Products", products_path, :id => "tabs-2" %>
	<%= link_to "Product Prices", product_prices_path, :id => "tabs-2" %>
	<%= link_to "Employees", employees_path, :id => "tabs-4" %>
	<%= link_to "Agencies", agencies_path, :id => "tabs-5" %>
	<%= link_to "Dealers", dealers_path, :id => "tabs-6" %>
	<%= link_to "Dealer Stores", dealer_stores_path, :id => "tabs-7" %>
</div>