<h1>ADMIN</h1>
<%= link_to "Sales", salesadmin_path %><br>
<%= link_to "Products", products_path %><br>
<%= link_to "Product Prices", product_prices_path %><br> 
<%= link_to "Employees", employees_path %><br>
<%= link_to "Agencies", agencies_path %><br>
<%= link_to "Dealers", dealers_path %><br>
<%= link_to "Dealer Stores", dealer_stores_path %><br>