<h1>ADMIN</h1>
<%= link_to "Create New Sales", new_sale_path %><br>
<%= link_to "Create New Products", new_product_path %><br>
<%= link_to "Create New Product Prices", new_product_price_path %><br> 
<%= link_to "Create New Employees", new_employee_path %><br>
<%= link_to "Create New Agencies", new_agency_path %><br>
<%= link_to "Create New Dealers", new_dealer_path %><br>
<%= link_to "Create New Dealer Stores", new_dealer_store_path %><br>