<div class="inputs">
<h3>New Product Price</h3>
<%= simple_form_for(@product_price) do |f| %>
  <%= f.association :dealer_store %>
  <%= f.association :product %>
  <%= f.input :price %>
  <%= f.input :effective_date %>
  <%= f.submit "Update Product Price", :class => "mainbutton wfont" %>
  <button class="hiddenbutton lmargin"><%= link_to "Back to product prices", product_price_path, :class => "blfont" %></button>
<% end %>
</div>