<div id="container">
  <div class="normaltable">
    <!--table searh bar-->
    <form class="search">
        <input type="text" placeholder="Search Keyword">
      <button class="lmargin wfont" type="submit">Search</button>
    </form>
    <table id="salescontent" class="sortable">
      <thead>
        <!--table headers-->
        <tr>
          <th class="wfont">Branch Name</th>
          <th class="wfont">SKU</th>
          <th class="wfont">Price</th>
          <th class="wfont">Effective Date</th>
        </tr>
      </thead>
      <tbody>
        <% @product_prices.each do |product_price| %>
        <tr>
          <td><%= product_price.dealer_store.branch_name %></td>
          <td><%= product_price.product.SKU %></td>
          <td><%= product_price.price %></td>
          <td><%= product_price.effective_date %></td>
          <%= link_to "Destroy", product_price_path(product_price.id), :method => :delete, :data => { :confirm => "Are you sure?", :class => "strong" } %>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>