<div id="login">
  <div class="lpanel">
    <div class="panel">
      <!--put midea logo-->
      <img src="" alt="">
      <h4>Change your password</h4>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field">
            <%= f.password_field :password, autofocus: true, autocomplete: "off", :placeholder => "New Password", :required => true %>
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm Password", :required => true %>
          </div>

          <div class="actions">
            <%= f.submit "Change my password", :class => "loginbutton" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
  </div>
  <!--change copyright to c accent e in triste-->
  <footer>Copyright 2015 Conception Midea Inc. Powered by Triste. All Rights Reserved.</footer>
</div>  