<div id="login">
  <div class="lpanel">
    <div class="panel">
      <!--put midea logo-->
      <img src="" alt="">
      <h4>Forgot your password?</h4>
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="field">
		    <%= f.email_field :email, autofocus: true, :placeholder => "Email", :required => true %>
		  </div>

		  <div class="actions">
		    <%= f.submit "Reset Password", :class => "loginbutton" %>
		  </div>
		<% end %>
        <h5><%= render "devise/shared/links" %></h5>
    </div>
  </div>
  <!--change copyright to c accent e in triste-->
  <footer>Copyright 2015 Conception Midea Inc. Powered by Triste. All Rights Reserved.</footer>
</div>