<h3>Edit Agency</h3>
	<%= simple_form_for(@agency) do |f| %>
	  
	  <%= f.input :agency_name %>
	  <%= f.input :location %>
	  <%= f.input :description %>
	  <%= f.submit "Update Agency", :class => "mainbutton wfont" %>
	  <button class="hiddenbutton lmargin"><%= link_to "Back to agencies", agency_path, :class => "blfont" %></button>
	<% end %>
</div>