<div class="container">
  <div id="normaltable" class="fourfifth wrap">
      <!--table searh bar-->
      <form class="search">
              <input type="text" placeholder="Search Keyword">
            <button class="lmargin wfont" type="submit">Search</button>
          </form>
      <table id="salescontent" class="sortable">
        <thead>
          <!--table headers-->
          <tr>
            <th class="wfont">Agency Name</th>
            <th class="wfont">Location</th>
            <th class="wfont">Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @agencies.each do |agency| %>
          <tr>
            <td><%= agency.agency_name %></td>
            <td><%= agency.location %></td>
            <td><%= agency.description %></td>
            <td><%= link_to "Edit", edit_agency_path(agency.id)%></td>
            <td><%= link_to "Destroy", agency_path(agency.id), :method => :delete, :data => { :confirm => "Are you sure?", :class => "strong" } %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
</div>