<h3>New Agency</h3>


<%= simple_form_for(@agency) do |f| %>
  
  <%= f.input :agency_name %>
  <%= f.input :location %>
  <%= f.input :description %>
  <hr>
  <%= f.submit "Create Agency" %>
<% end %>

<%= link_to "Back to agencies", agencies_path %>

