<div class="inputs">
<h3>Edit Dealer Store</h3>
<%= simple_form_for(@dealer_store) do |f| %>
  <%= f.input :branch_name %>
  <%= f.input :address %>
  <%= f.association :dealer %>
  <%= f.submit "Update Dealer Store", :class => "mainbutton wfont" %>
  <button class="hiddenbutton lmargin"><%= link_to "Back to dealer stores", dealer_store_path, :class => "blfont" %></button>
<% end %>
</div>