<div id="login">
  <div class="lpanel">
    <div class="panel">
      <!--put midea logo-->
      <%#= image_tag("logo.jpg", :alt => "concepcion_midea", :class => "logo") %>
      <h4>Log in</h4>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.email_field :email, autofocus: true, :placeholder => "Email" %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off", :placeholder => "Password"%>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me, :class => "checkbox" %>
              <%= f.label :remember_me, :class => "remember" %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in", :class => "loginbutton"%>
          </div>
        <% end %>

        <h5><%= render "devise/shared/links" %></h5>
    </div>
  </div>
  <!--change copyright to c accent e in triste-->
  <footer>Copyright 2015 Conception Midea Inc. Powered by Triste. All Rights Reserved.</footer>
</div>