<h3>New Product</h3>


<%= simple_form_for(@product) do |f| %>
  
  <%= f.input :SKU %>
  <%= f.input :name %>
  <%= f.input :description %>
  <hr>
  <%= f.submit "Create Product" %>
<% end %>

<%= link_to "Back to products", products_path %>