<!--secondary navigation: sidebar for different sales data tables-->
<div id="sidebar" class="onefifth wrap">
    <!--main category-->
      <h3 class="sidetitle sideitem" href="">Table</h3>
      <!--sub categories-->
      <div>
        <ul>
          <li><a href="">Basic Table</a></li>
          <li><a href="">Product Table</a></li>
          <li><a href="">Customer Table</a></li>
          <li><a href="">Store Table</a></li>
        </ul>
      </div>
      <h3 class="sidetitle" href="">Products</h3>
      <div>
        <ul>
          <li><a href="">Refridgerator</a></li>
          <li><a href="">Washing Machine</a></li>
          <li><a href="">Airconditioner</a></li>
        </ul>
      </div>
      <h3 class="sidetitle" href="">Location</h3>
      <div></div>
      <h3 class="sidetitle" href="">Time</h3>
      <div></div>
      <h3 class="sidetitle" href="">Others</h3>
      <div></div>
</div>
<!--replace table headers or table with other fields for other table options-->
<div id="salestable" class="fourfifth wrap">
  <%#= form_tag import_sales_path, multipart: true do %>
    <%#= file_field_tag :file %>
    <%#= submit_tag "Import" %>
  <%# end %>
  <!--table searh bar-->
  <form class="search">
        <input type="text" placeholder="Search Keyword">
        <button class="lmargin wfont" type="submit">Search</button>
  </form>
  <table id="salescontent" class="sortable">
    <thead>
      <!--table headers-->
      <tr>
        <th class="wfont">Date</th>
        <th class="wfont">Serial Number</th>
        <th class="wfont">Category</th>
        <th class="wfont">Price</th>
        <th class="wfont">Quantity</th>
        <th class="wfont">Payment</th>
        <th class="wfont">Status</th>
        <th class="wfont">SKU</th>
        <th class="wfont">Product Specialist</th>
        <th class="wfont">Dealer Store</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @sales.each do |sale| %>
      <tr>
        <!--replace contents with ruby variables-->
        <td><%= sale.date_of_purchase %></td>
        <td><%= sale.serial_number %></td>
        <td><%= sale.invoice_number %></td>
        <td class="rightalign"><%= sale.invoice_amount %></td>
        <td><%= sale.incentive %></td>
        <td><%= sale.mode_of_payment %></td>
        <td><%= sale.request_for_installation %></td>
        <td><%= sale.product.SKU %></td>
        <td><%= sale.employee.employee_name %></td>
        <td><%= sale.employee.dealer_store.branch_name%></td>
        <td><%= link_to "Destroy", sale_path(sale.id), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "strong" %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  Download:
  <%= link_to "CSV", sales_path(format: "csv") %> |
  <%= link_to "Excel", sales_path(format: "xls") %>
</div>