<!--secondary navigation: sidebar for different sales data tables-->
<div id="sidebar" class="onefifth wrap">
  <ul>
    <!--main category-->
    <li>
      <a class="sidetitle" href="">Table</a>
      <!--sub categories-->
      <ul>
        <li><a href="">Basic Table</a></li>
        <li><a href="">Product Table</a></li>
        <li><a href="">Customer Table</a></li>
        <li><a href="">Store Table</a></li>
      </ul>
    </li>
    <hr>
    <li>
      <a class="sidetitle" href="">Product</a>
      <ul>
        <li><a href="">Refridgerator</a></li>
        <li><a href="">Washing Machine</a></li>
        <li><a href="">Airconditioner</a></li>
      </ul>
    </li>
    <hr>
    <li><a class="sidetitle" href="">Location</a></li>
    <hr>
    <li><a class="sidetitle" href="">Time</a></li>
    <hr>
    <li><a class="sidetitle" href="">Others</a></li>
  </ul>
</div>
<!--replace table headers or table with other fields for other table options-->
<div id="salestable" class="fourfifth wrap">
  <!--table searh bar-->
  <form class="search">
        <input type="text" placeholder="Search Keyword">
        <button class="lmargin wfont" type="submit">Search</button>
  </form>
  <table id="salescontent" class="sortable">
    <thead>
      <!--table headers-->
      <tr>
        <th class="wfont">Date</th>
        <th class="wfont">Serial Number</th>
        <th class="wfont">Category</th>
        <th class="wfont">Price</th>
        <th class="wfont">Quantity</th>
        <th class="wfont">Payment</th>
        <th class="wfont">Status</th>
        <th class="wfont">SKU</th>
        <th class="wfont">Product Specialist</th>
        <th class="wfont">Dealer Store</th>
<<<<<<< HEAD
        <th></th>
=======
>>>>>>> 9cdc0aeda1cb05bc107929378958250c093237f0
      </tr>
    </thead>
    <tbody>
        <% @sales.each do |sale| %>
      <tr>
        <!--replace contents with ruby variables-->
        <td><%= sale.date_of_purchase %></td>
        <td><%= sale.serial_number %></td>
        <td><%= sale.invoice_number %></td>
        <td class="rightalign"><%= sale.invoice_amount %></td>
        <td><%= sale.incentive %></td>
        <td><%= sale.mode_of_payment %></td>
        <td><%= sale.request_for_installation %></td>
        <td><%= sale.product.SKU %></td>
        <td><%= sale.employee.employee_name %></td>
        <td><%= sale.employee.dealer_store.branch_name%></td>
        <td><%= link_to "Destroy", sale_path(sale.id), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "strong" %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>