<div class="inputs">
<h3>New Sale</h3>
    <%= simple_form_for(@sale) do |f| %>
    <div>
      <div class="onehalf wrap">
        <%= f.input :serial_number %>
        <%= f.association :product %>
        <%= f.input :invoice_number %>
        <%= f.input :invoice_amount %>
        <%= f.input :date_of_purchase %>
      </div>
      <div class="onehalf wrap">
        <%= f.input :mode_of_payment %>
        <%= f.input :mode_of_delivery %>
        <%= f.input :request_for_installation %>
        <%= f.input :employee %>      
        <%= f.input :incentive %>
      </div>
    </div>
    <div>
      <%= f.submit "Done", :class => "mainbutton wfont" %>
      <button class="hiddenbutton lmargin"><%= link_to "Back", sales_path, :class => "blfont" %></button>
    </div>
    <% end %>
</div>